@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: #fffc00; 
    background: -webkit-linear-gradient(to top, #fffc00, rgb(247, 243, 149));  
    background: linear-gradient(to top, #fffc00, rgb(247, 243, 149)); 

}

#menu a,
button {
    font-size: 18px !important;
    font-weight: 600;

}

#menu a {
    color: #3f3f3f;
}

#cards{
    max-height: 40rem !important;
    margin-bottom: 20px;
}

#galeria{
    max-height: 45rem;
}
